@charset "UTF-8";
h1 {
  display: none;
}

#container {
  /* 見本1263px */
  width: 100%;
  background-color: black;
}
#container > * {
  width: 76vw;
  margin: 0 auto;
}
#container header {
  /* .top-area */
  /* .head-area */
}
#container header .top-area {
  background-image: url("../img/header_bg.jpg");
}
#container header .top-area .top-belt {
  position: relative;
  /* .top-belt ul */
}
#container header .top-area .top-belt img {
  -o-object-fit: contain;
     object-fit: contain;
  width: inherit;
}
#container header .top-area .top-belt ul#top-list {
  display: flex;
  flex-wrap: wrap;
  width: 26vw;
  position: absolute;
  top: 10%;
  right: 3vw;
}
#container header .top-area .top-belt ul#top-list li {
  display: inline-block;
  height: inherit;
  font-size: 0.75rem;
  flex: 1 0 0;
}
#container header .top-area .top-belt ul#top-list li span {
  content: "";
  background-image: url("../img/arrow.gif");
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  width: 15%;
  height: 60%;
}
#container header .head-area {
  /* .menu-navi */
}
#container header .head-area img.head-image {
  -o-object-fit: contain;
     object-fit: contain;
  width: inherit;
}
#container header .head-area .menu-navi {
  position: relative;
  /* .head-menu */
}
#container header .head-area .menu-navi::before {
  content: "";
  display: block;
  padding-top: 6.67%;
}
#container header .head-area .menu-navi .head-belt {
  background-image: url("../img/nav_bg.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 11%;
}
#container header .head-area .menu-navi ul.head-menu {
  width: 100%;
  height: 100%;
  text-align: center;
  position: absolute;
  top: 4%;
}
#container header .head-area .menu-navi ul.head-menu li {
  display: inline-block;
  width: 10.5%;
  height: 70%;
  overflow: hidden;
}
#container header .head-area .menu-navi ul.head-menu li a {
  display: block;
  width: 105%;
  height: 100%;
}
#container header .head-area .menu-navi ul.head-menu li a img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
#container main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-image: url("../img/bg.jpg");
}
#container main section#left-flex {
  flex: 0 0 29%;
  padding: 1%;
}
#container main section#left-flex .inner-info {
  background-image: url("../img/info.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: inherit;
  position: relative;
}
#container main section#left-flex .inner-info::before {
  content: "";
  display: block;
  padding-top: 100%;
}
#container main section#left-flex .inner-info > * {
  position: absolute;
  font-size: 0.75rem;
  font-weight: bold;
}
#container main section#left-flex .inner-info ul {
  bottom: 35%;
}
#container main section#left-flex .inner-info p:nth-of-type(1) {
  bottom: calc(20% - 0.75rem*1);
}
#container main section#left-flex .inner-info p:nth-of-type(2) {
  bottom: calc(20% - 0.75rem*2);
}
#container main section#left-flex .inner-info p:nth-of-type(3) {
  bottom: calc(20% - 0.75rem*3);
}
#container main section#center-flex {
  flex: 0 0 45%;
  padding: 1%;
}
#container main section#center-flex .lodging-title img {
  -o-object-fit: 100%;
     object-fit: 100%;
  width: inherit;
}
#container main section#center-flex article {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}
#container main section#center-flex article .plan-image {
  flex: 0 0 30%;
}
#container main section#center-flex article .plan-image img {
  -o-object-fit: 100%;
     object-fit: 100%;
  width: inherit;
}
#container main section#center-flex article dl.detail {
  flex: 0 0 65%;
  padding: 0 2%;
}
#container main section#center-flex article dl.detail dt {
  font-size: 0.8em;
  padding-bottom: 0.4em;
  line-height: 1;
  font-weight: bold;
  color: #004c00;
}
#container main section#center-flex article dl.detail dd {
  font-size: 0.7em;
  padding-bottom: 0.35em;
  line-height: 1.5;
  font-weight: bold;
}
#container main section#right-flex {
  flex: 0 0 25%;
}
#container main section#right-flex .reservation {
  position: relative;
}
#container main section#right-flex .reservation ul {
  position: absolute;
  font-size: 0.6em;
  font-weight: bold;
  bottom: 18%;
  left: 20%;
}
#container main section#right-flex .reservation ul li:nth-of-type(1)::before {
  content: "";
  background-color: #28f069;
  display: block;
  padding-top: 7%;
  width: 7%;
  position: absolute;
  left: -10%;
}
#container main section#right-flex .reservation ul li:nth-of-type(2)::before {
  content: "";
  background-color: #fdff9a;
  display: block;
  padding-top: 7%;
  width: 7%;
  position: absolute;
  left: -10%;
}
#container main section#right-flex .reservation ul li:nth-of-type(3)::before {
  content: "";
  background-color: #091a86;
  display: block;
  padding-top: 7%;
  width: 7%;
  position: absolute;
  left: -10%;
}
#container main section#right-flex .facility {
  position: relative;
}
#container main section#right-flex .facility ul {
  position: absolute;
  font-size: 0.7em;
  font-weight: bold;
  line-height: 1.75;
  bottom: 15%;
  left: 20%;
}
#container footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  background-image: url("../img/footer_bg.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}
#container footer nav#left-navi {
  flex: 0 0 30%;
}
#container footer nav#left-navi ul.sitemap:nth-of-type(1) {
  float: left;
}
#container footer nav#left-navi ul.sitemap:nth-of-type(2) {
  float: right;
}
#container footer #right-info {
  flex: 0 0 30%;
}
#container footer #foot-bottom {
  flex: 0 0 100%;
}/*# sourceMappingURL=style.css.map */