{
  "extends": ["stylelint-config-standard-scss", "stylelint-config-standard"],
  "overrides": [
    {
      "files": ["**/*.{jsx,tsx}"],
      "customSyntax": "@stylelint/postcss-css-in-js"
    }
  ]
}