@charset 'utf-8';

$item-center: 0 auto;
$anchor-reset: underline;

@mixin flex-col($ratio, $distribute1: 0, $distribute2: 0) {
    flex: $distribute1 $distribute2 $ratio;
}
@mixin fit-image($w: inherit) {
    object-fit: contain;
    width: $w;        
}
@mixin back-image($path) {
    background-image: url($path);
    background-size: contain;
    background-repeat: no-repeat;
}
@mixin article-area($font-sizing) {
    font-size: $font-sizing;
    padding-bottom: 9px;
    line-height: calc($font-sizing*1.5);
}

h1 { display: none; }
#container {
    /* 見本1263px */
    width: 100%;
    background-color: black;
    > * {
        width: 71vw;
        margin: $item-center;
    }
    header {
        nav.logo-navi {
            .top-image {
                background-image: url("../img/header_bg.jpg");
                background-size: cover;
                position: relative;
                .top-belt {
                    img {
                        @include fit-image();
                    }
                    ul.top-list {
                        height: 6vh;;
                        position: absolute;
                        top: 0;
                        right: 0;
                        li {
                            display: inline-block;
                            height: inherit;
                            span {
                                @include back-image("../img/arrow.gif");
                            }
                        }
                    } /* .top-belt ul */
                }
            } /* .top-image */
        }
        nav.menu-navi {
            position: relative;
            overflow: hidden;
            img {
                @include fit-image();
            }
            ul.head-menu {
                position: absolute;
                top: 80%;
                li {
                    display: inline-block;
                }
            }
        }
    }
    main {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        background-image: url("../img/bg.jpg");
        section#left-flex {
            @include flex-col(29%);
            .inner-info {
                @include back-image("../img/info.png");
            }
        }
        section#center-flex {
            @include flex-col(45%);
            .lodging-title {
                img {
                    @include fit-image(100%);
                }
            }
            article {
                display: flex;
                flex-wrap: wrap;
                align-items: flex-start;
                line-height: 0;
                .plan-image {
                    @include flex-col(30%);
                    img {
                        @include fit-image(100%);
                    }
                }
                dl.detail {
                    @include flex-col(65%);
                    dt {
                        @include article-area(1.25em);
                        color: #004c00;
                    }
                    dd p {
                        @include article-area(0.75em);
                    }
                }
            }        
        }
        section#right-flex {
            @include flex-col(25%);
        }
    }
    footer {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        @include back-image("../img/footer_bg.jpg");
        nav#left-navi {
            @include flex-col(30%);
            ul.sitemap {
                &:nth-of-type(1) {
                    float: left;
                    // &::after {
                    //     content: "";
                    //     display: block;
                    //     clear: both;            
                    // }
                }
                &:nth-of-type(2) {
                    float: right;
                }
            }
        }
        #right-info {
            @include flex-col(30%);
        }
        #foot-bottom {
            @include flex-col(100%);
        }
    }
}
